<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Rutina{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    {% block extra_head %}{% endblock %}
</head>

<body class="bg-gray-100 text-gray-800">

    <!-- Navbar -->
    <nav class="bg-white shadow-md">
        <div class="max-w-7xl mx-auto py-3 flex justify-between">
            <a href="{% url 'inicio' %}">MiRutina</a>
            <div>
                <a href="{% url 'inicio' %}">Inicio</a>
                <a href="{% url 'lista_ejercicios' %}" class="hover:text-blue-600">Ejercicios</a>
                <a href="{% url 'logout' %}">Salir</a>
            </div>
            <!-- Menú mobile -->
        </div>
    </nav>

    <!-- Contenido principal -->
    <main class="py-6 px-4 max-w-4xl mx-auto">
        {% block content %}
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer class="text-center">
        &copy; 2025
    </footer>

</body>

</html>