{% extends 'base.html' %}

{% block title %}App Rutina{% endblock %}

{% block content %}
<div class="container">
    {% if user.is_authenticated %}
    <div class="user-info">
        <p>Hola, {{ user.username }}!</p>
        <p>Ya estás logueado en el sistema.</p>
        <a href="{% url 'logout' %}" class="button secondary">Cerrar Sesión</a>
        {% if user.is_staff %}
        <a href="/admin/" class="button">Panel de Admin</a>
        {% endif %}
    </div>
    {% else %}
    <h1>Frase motivacional</h1>
    <div>
        <a href="{% url 'login' %}" class="button">Iniciar Sesión</a>
        <a href="{% url 'registro' %}" class="button secondary">Registrarse</a>
    </div>
    {% endif %}
</div>
{% endblock %}