<!DOCTYPE html>
<html>

<head>
    <title>Blog</title>
</head>

<body>
    {% if user.is_authenticated %}
    <p>Hola, {{ user.username }}
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">
            Cerrar sesión
        </button>
    </form>
    </p>
    {% else %}
    <p>
        <a href="{% url 'login' %}">Iniciar sesión</a> |
        <a href="{% url 'registro' %}">Registrarse</a>
    </p>
    {% endif %}

    {% if user.is_authenticated %}
    <p><a href="{% url 'crear_post' %}">Nuevo Post</a></p>
    {% endif %}

    <h1>Lista de Posts</h1>
    <h5>Filtrar por categoría:</h5>
    <ul class="list-inline">
        <li class="list-inline-item">
            <a href="/" class="btn btn-sm btn-outline-secondary">Todas</a>
        </li>
        {% for cat in categorias %}
        <li class="list-inline-item">
            <a href="/?categoria={{ cat.id }}" class="btn btn-sm btn-outline-secondary">
                {{ cat.nombre }}
            </a>
        </li>
        {% endfor %}
    </ul>
    <h5>Filtrar por año</h5>
    <ul>
        <li><a href="/">Todos</a></li>
        <li><a href="/?anio=2025">2025</a></li>
        <li><a href="/?anio=2024">2024</a></li>
        <li><a href="/?anio=2023">2023</a></li>
    </ul>
    <h5>Filtrar por cantidad de comentarios</h5>
    <ul>
        <li><a href="/">Todos</a></li>
        <li><a href="/?comentarios=1">Al menos 1 comentario</a></li>
        <li><a href="/?comentarios=3">Al menos 3 comentarios</a></li>
        <li><a href="/?comentarios=5">Al menos 5 comentarios</a></li>
    </ul>
    {% for post in posts %}
    <div>
        <h2><a href="{% url 'detalle_post' post.id %}">{{ post.titulo }}</a></h2>
        <p><strong>Categoría:</strong> {{ post.get_categoria_display }}</p>
        <p><em>{{ post.fecha_publicacion }}</em></p>
        <p>{{ post.contenido|linebreaks }}</p>
        <p><strong>Comentarios:</strong> {{ post.num_comentarios }}</p>
        <hr>
    </div>
    {% empty %}
    <p>No hay publicaciones.</p>
    {% endfor %}
</body>

</html>